@model ProductVM
<head>
    @{
        ViewBag.Title = "Publishing";
    }


</head>
<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-book"></i> &nbsp;Publishing</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">


                @foreach (var b in Model.products)
                {
                    <div class="post post-md no-border col-md-6">
                        <div class="col-12">
                            <div class="post-thumbnail">
                                <a href="~/products/UrhoySchooCurriculum"><img src="@b.SmallImage" alt=""></a>
                                <div class="post-caption" style="background-color:darkgray">@b.Category</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="post-header">
                                <div class="post-title">
                                    <h4><a href="~/products/UrhoySchooCurriculum">@b.Title</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-book"></i> @b.Category</li>
                                        <li><i class="fa fa-info"></i> @b.SubCategory </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                @b.ShortDescription
                            </p>
                            <a asp-controller="Products" asp-action="details" asp-route-id="@b.Id" class="btn btn-info btn-shadow">Info</a>
                        </div>

                    </div>
                }



            </div>
        </div>
    </section>
</div>



