@model ProductEpisode
<link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/dashboard.css">
@{
    ViewData["Title"] = "CreateEpisodee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>


</head>


<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;Create New Episodee</h1>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <form class="card" asp-action="CreateEpisode" enctype="multipart/form-data" method="post">
                <input type="hidden" asp-for="ProductId" name="ProductId" value="@ViewBag.ProductId" />
                <div class="container">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12">

                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" name="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ImageE" class="control-label"></label>
                                        <input asp-for="EastrenImageFile" name="EastrenImageFile" class="dropify form-control" />
                                        <span asp-validation-for="ImageE" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ImageW" class="control-label"></label>
                                        <input asp-for="WestreanImageFile" name="WestreanImageFile" class="dropify form-control" />
                                        <span asp-validation-for="ImageW" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="color:white">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title"> Details</h3>
                                    </div>

                                    <!--START table-responsive -->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" style="width:100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Views" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">

                                                            <input asp-for="Views" name="Views" class="form-control" />
                                                            <span asp-validation-for="Views" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ReleaseDate" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">

                                                            <input asp-for="ReleaseDate" name="ReleaseDate" class="form-control" />
                                                            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Status" class="control-label"></label>
                                                    </td>
                                                    <td>
                                                        <select class="form-control custom-select" asp-for="Status" name="Status" asp-items="Html.GetEnumSelectList<Language>()">
                                                            <option selected="selected">-None-</option>
                                                        </select>
                                                        <span asp-validation-for="Status" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="ProductId" class="control-label"></label>
                                                        <input type="hidden" name="parentId" value="@ViewBag.ProductId" />
                                                    </td>
                                                    <td>
                                                        @*<select asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductId"></select>*@
                                                        @ViewBag.parentname
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="VideoW" class="control-label"></label>
                                                    </td>
                                                    <td>

                                                        <input asp-for="VideoW" name="VideoW" class="form-control" />
                                                        <span asp-validation-for="VideoW" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label asp-for="VideoE" class="control-label"></label>
                                                    </td>
                                                    <td>


                                                        <input asp-for="VideoE" name="VideoE" class="form-control" />
                                                        <span asp-validation-for="VideoE" class="text-danger"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--END table-responsive -->
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <a asp-action="EditCartoonSeries" asp-route-id="@ViewBag.ProductId" class="btn btn-Create btn-shadow w-50">Back to List</a>
                                </div>

                                <div class="col-md-6">
                                    <input type="submit" value="save" class="btn btn-Create btn-shadow w-50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>



@section Scripts {
    @{
        <!-- file uploads js #8f98c1-->
        <script src="~/plugins/fileuploads/js/dropify.js"></script>
        <script>
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a file here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (2M max).'
                }
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }