@model Product
<link rel="stylesheet" href="~/css/List.css">
<link rel="stylesheet" href="~/css/dashboard.css">
<link rel="stylesheet" href="~/css/create.css">
@{
    ViewBag.Title = "Create New Product";
}

    <div id="wrapper">
    <section class="bg-grey-500 promo">
            <div class="container">
                <h1 style="color:white"> &nbsp;create</h1>
            </div>
        </section>

    <div class="col-md-12">
        <div class="card">
            <form action="/Mobiles/Create" enctype="multipart/form-data" method="post">
                <div class="container">
                    <div class="col-12">
                        <form method="post" class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <input name="__RequestVerificationToken" type="hidden" value="" />


                                        <div class="form-group">
                                            <label class="form-label" for="Name">   @Html.LabelFor(model => model.Title)</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="Name" name="Name" type="text" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true">   @Html.ValidationMessageFor(model => model.Title)</span>
                                        </div>


                                        <div class="form-group">
                                            <label class="form-label" ></label>
                                       
                                                <select class="form-control custom-select" asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
                                                    <option selected="selected">-None-</option>
                                                </select>
                                         
                                            <span class="field-validation-valid text-danger" data-valmsg-for="BrandId" data-valmsg-replace="true"></span>

                                        </div>

                                        <div class="form-group">
                                            <label class="form-label " for="DeviceType"></label>
                         
                                            <select class="form-control custom-select" asp-for="TargetAudince" asp-items="Html.GetEnumSelectList<Target>()">
                                                    <option selected="selected">-None-</option>
                                                </select>
                                      
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DeviceType" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                        <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">@Html.LabelFor(model => model.CoverImage)</label>
                                            <div data-height="180">

                                                <div class="dropify-wrapper">
                                                    <div class="dropify-message">
                                                        <span class="file-icon"></span>
                                                        <p>Drag and drop a file here or click</p>
                                                        <p class="dropify-error">Ooops, something wrong appended.</p>
                                                    </div>
                                                    <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                                    <button type="button" class="dropify-clear">Remove</button>
                                                    <div class="dropify-preview">
                                                        <span class="dropify-render">

                                                        </span>
                                                        <div class="dropify-infos">
                                                            <p class="dropify-infos-inner">
                                                                Drag and drop or click to replace
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                        </div>
                                        <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">   @Html.LabelFor(model => model.SmallImage)</label>
                                            <div data-height="180">

                                                <div class="dropify-wrapper">
                                                    <div class="dropify-message">
                                                        <span class="file-icon"></span>
                                                        <p>Drag and drop a file here or click</p>
                                                        <p class="dropify-error">Ooops, something wrong appended.</p>
                                                    </div>
                                                    <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                                </div>
                                            </div>

                                            <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                        </div>
                                        <div class="col-lg-3 col-sm-12">
                                            <label class="form-label " for="ImageURL">Image</label>
                                            <div data-height="180">

                                                <div class="dropify-wrapper">
                                                    <div class="dropify-message">
                                                        <span class="file-icon"></span>
                                                        <p>Drag and drop a file here or click</p>
                                                        <p class="dropify-error">Ooops, something wrong appended.</p>
                                                    </div>
                                                    <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                                </div>
                                            </div>

                                            <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                        </div>
                                       <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">Image</label>
                                        <div data-height="180">

                                            <div class="dropify-wrapper">
                                                <div class="dropify-message">
                                                    <span class="file-icon"></span>
                                                    <p>Drag and drop a file here or click</p>
                                                    <p class="dropify-error">Ooops, something wrong appended.</p>
                                                </div>
                                                <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                            </div>
                                        </div>

                                        <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                    </div>
                                       <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">Image</label>
                                        <div data-height="180">

                                            <div class="dropify-wrapper">
                                                <div class="dropify-message">
                                                    <span class="file-icon"></span>
                                                    <p>Drag and drop a file here or click</p>
                                                    <p class="dropify-error">Ooops, something wrong appended.</p>
                                                </div>
                                                <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                            </div>
                                        </div>

                                        <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                    </div>
                                       <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">Image</label>
                                        <div data-height="180">

                                            <div class="dropify-wrapper">
                                                <div class="dropify-message">
                                                    <span class="file-icon"></span>
                                                    <p>Drag and drop a file here or click</p>
                                                    <p class="dropify-error">Ooops, something wrong appended.</p>
                                                </div>
                                                <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                            </div>
                                        </div>

                                        <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                    </div>
                                       <div class="col-lg-3 col-sm-12">
                                        <label class="form-label " for="ImageURL">Image</label>
                                        <div data-height="180">

                                            <div class="dropify-wrapper">
                                                <div class="dropify-message">
                                                    <span class="file-icon"></span>
                                                    <p>Drag and drop a file here or click</p>
                                                    <p class="dropify-error">Ooops, something wrong appended.</p>
                                                </div>
                                                <input type="file" name="ImageURL" id="ImageURL" class="dropify" />
                                            </div>
                                        </div>

                                        <span class="field-validation-valid text-danger" data-valmsg-for="ImageURL" data-valmsg-replace="true"></span>

                                    </div>
                                </div>
                            </div>


                               <div class="card-body" style="color:white">
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title"> Details</h3>
                                            </div>
                                                @using(Html.BeginForm("Create","Manger", FormMethod.Post))
{
                                            <div class="table-responsive">
                                            
                        
                                                <table class="table table-striped table-bordered" style="width:100%">
                                                    <tbody>
                                                        <tr>
                                                        <td>
                                                             @Html.LabelFor(model => model.SubCategory)
                                                        </td>  
                                                        <td>
                                                           @Html.EditorFor(model => model.SubCategory)
                                                           @Html.ValidationMessageFor(model => model.SubCategory)
                                                         </td>
                                                   </tr>
                                                    <tr>
                                                         <td>
                                                               @Html.LabelFor(model => model.LongDescription)
                                                        </td>
                                                        <td>
                                                          @Html.TextAreaFor(model => model.LongDescription)
                                                    
                                                          @Html.ValidationMessageFor(model => model.LongDescription) 
                                                         </td>
                                                    </tr>
                                                            <tr>
                                                         <td>
                                                                 @Html.LabelFor(model => model.ShortDescription)
                                                        </td>
                                                        <td>
                                                      
                                                                @Html.TextAreaFor(model => model.ShortDescription)
                                                                @Html.ValidationMessageFor(model => model.ShortDescription)
                                                         </td>
                                                    </tr>
                                                            <tr>
                                                         <td>
                                                                 @Html.LabelFor(model => model.ScriptW)
                                                        </td>
                                                        <td>
                                                        
                                                                @Html.TextAreaFor(model => model.ScriptW)
                                                                @Html.ValidationMessageFor(model => model.ScriptW)
                                                         </td>
                                                    </tr>
                                                            <tr>
                                                         <td>
                                                            @Html.LabelFor(model => model.ScriptE)
                                                        </td>
                                                        <td>
                                                          
                                                            @Html.TextAreaFor(model => model.ScriptE)
                                                            @Html.ValidationMessageFor(model => model.ScriptE)
                                                         </td>
                                                    </tr>
                                                            <tr>
                                                         <td>
                                                            @Html.LabelFor(model => model.VideoW)
                                                        </td>
                                                        <td>
                                                       
                                                            @Html.EditorFor(model => model.VideoW)
                                                            @Html.ValidationMessageFor(model => model.VideoW)
                                                         </td>
                                                    </tr>
                                                            <tr>
                                                         <td>
                                                            @Html.LabelFor(model => model.ViewsE)
                                                        </td>
                                                        <td>
                                                       
                                                            @Html.EditorFor(model => model.VideoE)
                                                            @Html.ValidationMessageFor(model => model.VideoE)
                                                         </td>
                                                    </tr>
                                                                  <tr>
                                                         <td>
                                                            @Html.LabelFor(model => model.CreditsW)
                                                        </td>
                                                        <td>
                                                       
                                                            @Html.EditorFor(model => model.CreditsW)
                                                            @Html.ValidationMessageFor(model => model.CreditsW)
                                                         </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.CreditsE)
                                                        </td>
                                                        <td>

                                                            @Html.EditorFor(model => model.CreditsE)
                                                            @Html.ValidationMessageFor(model => model.CreditsE)
                                                        </td>
                                                    </tr>
                                                               <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.ViewsW)
                                                        </td>
                                                        <td>
                                                        
                                                            @Html.EditorFor(model => model.ViewsW)
                                                            @Html.ValidationMessageFor(model => model.ViewsW)
                                                        </td>
                                                    </tr>
                                                               
                                                                              <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.ViewsE)
                                                        </td>
                                                        <td>
                                                        
                                                            @Html.EditorFor(model => model.ViewsE)
                                                                @Html.ValidationMessageFor(model => model.ViewsE)
                                                        </td>
                                                    </tr>
                                                             
                                                    <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.Epdf)
                                                        </td>
                                                        <td>
                                                        
                                                            @Html.EditorFor(model => model.Epdf)
                                                            @Html.ValidationMessageFor(model => model.Epdf)
                                                        </td>
                                                    </tr>
                                                               <tr>
                                                        <td>
                                                            @Html.LabelFor(model => model.Wpdf)
                                                        </td>
                                                        <td>

                                                          
                                                            @Html.EditorFor(model => model.Wpdf)
                                                            @Html.ValidationMessageFor(model => model.Wpdf)
                                                        </td>
                                                    </tr>

                  
                  
                    
                                                          
                                                    </tbody>
                                                </table>
                                            
                                            </div>
                                            <!-- table-responsive -->
                                        }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" col-md-12">
                                    <a asp-action="Index">Back to List</a>
                                    <button style="float:right" class="btn btn-info" type="submit" value="Create">Create</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

@using(Html.BeginForm("Create","Manger", FormMethod.Post))
{
    @*  <div>
        @Html.LabelFor(model => model.SmallImage)
        <div>
            <input type="file" name="SmallImage" id="SmallImage"/>
        </div>
    </div>
       <div>
        @Html.LabelFor(model => model.CoverImage)
        <div>
            <input type="file" name="CoverImage" id="CoverImage"/>
        </div>
    </div>
    <div>
          @Html.AntiForgeryToken()
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
            <option selected="selected">-None-</option>
        </select>
    </div>
    <div>
        <select asp-for="TargetAudince" asp-items="Html.GetEnumSelectList<Target>()">
            <option selected="selected">-None-</option>
        </select>
    </div>
    <div>
         @Html.LabelFor(model => model.SubCategory)
        @Html.EditorFor(model => model.SubCategory)
        @Html.ValidationMessageFor(model => model.SubCategory)
    </div>
    <div>
        @Html.LabelFor(model => model.LongDescription)
        @Html.TextAreaFor(model => model.LongDescription)
        @Html.ValidationMessageFor(model => model.LongDescription)
    </div>
     <div>
        @Html.LabelFor(model => model.ShortDescription)
        @Html.TextAreaFor(model => model.ShortDescription)
        @Html.ValidationMessageFor(model => model.ShortDescription)
    </div>
     <div>
        @Html.LabelFor(model => model.ScriptW)
        @Html.TextAreaFor(model => model.ScriptW)
        @Html.ValidationMessageFor(model => model.ScriptW)
    </div>
         <div>
        @Html.LabelFor(model => model.ScriptE)
        @Html.TextAreaFor(model => model.ScriptE)
        @Html.ValidationMessageFor(model => model.ScriptE)
    </div>
    <div>
         @Html.LabelFor(model => model.VideoE)
        @Html.EditorFor(model => model.VideoE)
        @Html.ValidationMessageFor(model => model.VideoE)
    </div>
     <div>
         @Html.LabelFor(model => model.VideoW)
        @Html.EditorFor(model => model.VideoW)
        @Html.ValidationMessageFor(model => model.VideoW)
    </div>
      <div>
        @Html.LabelFor(model => model.CreditsW)
        @Html.TextAreaFor(model => model.CreditsW)
        @Html.ValidationMessageFor(model => model.CreditsW)
    </div>
      <div>
        @Html.LabelFor(model => model.CreditsE)
        @Html.TextAreaFor(model => model.CreditsE)
        @Html.ValidationMessageFor(model => model.CreditsE)
    </div>
    <div>
        @Html.LabelFor(model => model.ViewsW)
        @Html.EditorFor(model => model.VideoW)
        @Html.ValidationMessageFor(model => model.VideoW)
    </div>
     <div>
        @Html.LabelFor(model => model.ViewsE)
        @Html.EditorFor(model => model.VideoE)
        @Html.ValidationMessageFor(model => model.VideoE)
    </div>
    <div>
        @Html.LabelFor(model => model.Epdf)
        @Html.EditorFor(model => model.Epdf)
        @Html.ValidationMessageFor(model => model.Epdf)
    </div>
     <div>
        @Html.LabelFor(model => model.Wpdf)
        @Html.EditorFor(model => model.Wpdf)
        @Html.ValidationMessageFor(model => model.Wpdf)
     </div>

     <div>
         <div>
            <button style="float:right" type="submit" value="Create">Create</button>
         </div>
     </div>*@
   
}
