@model Product
<link href="~/plugins/fileuploads/css/dropify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/css/dashboard.css">
<head>
    @{
        ViewData["Title"] = "Edit";
    }
</head>




<div id="wrapper">
    <section class="bg-grey-500 promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;Edit</h1>
        </div>
    </section>

    <section>
        @if (Model != null)
        {
            <div class="col-md-12">

                <div class="container">
                    <div class="col-12">
                        <form class="card" asp-action="Edit" enctype="multipart/form-data" method="post">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Id" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.Title" class="control-label"></label>
                                            <input asp-for="@Model.Title" class="form-control" />
                                            <span asp-validation-for="@Model.Title"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.Category" class="control-label"></label>
                                            @Html.DropDownListFor(m => m.Category, new SelectList(Enum.GetValues(typeof(Category))), new { @class = "form-control", @onchange = "showRows()" })
                                            <span asp-validation-for="@Model.Category" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.TargetAudince" class="control-label"></label>
                                            @Html.DropDownListFor(m => m.TargetAudince, new SelectList(Enum.GetValues(typeof(Target))),new {@class = "form-control"})
                                            <span asp-validation-for="@Model.TargetAudince" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.SmallImage" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="previewImage" src="@Model.SmallImage" />
                                                    <input asp-for="@Model.SmallUrl" type="file" class="dropify" id="ImageUrl" name="SmallUrl" data-height="180" />
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.SmallImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.CoverImage" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="coverPreviewImage" src="@Model.CoverImage" />
                                                    <input asp-for="@Model.CoverUrl" type="file" class="dropify" id="ImageUrl2" name="CoverUrl" data-height="180" />
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.CoverImage" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.img1" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="PreviewImage1" src="@Model.img1" />
                                                    <input asp-for="@Model.imgUrl" type="file" class="dropify" id="ImageUrl3" name="imgUrl" data-height='180' />
                                                </div>

                                            </div>
                                            <span asp-validation-for="@Model.img1" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.img2" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="PreviewImage2" src="@Model.img2" />
                                                    <input asp-for="@Model.imgUrl2" type="file" class="dropify" id="CoverImage" name="imgUrl2" data-height='180' />

                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.img2" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.img3" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="PreviewImage3" src="@Model.img3" />
                                                    <input asp-for="@Model.imgUrl3" type="file" class="dropify" id="img3" name="imgUrl3" data-height='180' />

                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.img3" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.img4" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="PreviewImage4" src="@Model.img4" />
                                                    <input asp-for="@Model.imgUrl4" type="file" class="dropify" id="img4" name="imgUrl4" data-height='180' />

                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.img4" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12" data-categories="Books Songs Software" style="display: none;">
                                        <div class="form-group">
                                            <label asp-for="@Model.img5" class="control-label"></label>
                                            <div class="dropify-wrapper">
                                                <div class="dropify-render">
                                                    <img id="PreviewImage5" src="@Model.img5" />
                                                    <input asp-for="@Model.imgUrl5" type="file" class="dropify" id="img5" name="imgUrl5" data-height='180' />
                                                </div>
                                            </div>
                                            <span asp-validation-for="@Model.img5" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="color:white">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title"> Details</h3>
                                        </div>
                                        <!--START table-responsive -->
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered" style="width:100%">
                                                <tbody>
                                                    <tr data-categories="Books Songs CartoonSeries Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.SubCategory" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.SubCategory" class="form-control" />
                                                            <span asp-validation-for="@Model.SubCategory"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Songs CartoonSeries Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ReleaseDate" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ReleaseDate" class="form-control" />
                                                            <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.SponsoredBY" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.SponsoredBY" class="form-control" />
                                                            <span asp-validation-for="@Model.SponsoredBY"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Author" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Author" class="form-control" />
                                                            <span asp-validation-for="@Model.Author"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.DesignedBy" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.DesignedBy" class="form-control" />
                                                            <span asp-validation-for="@Model.DesignedBy"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ProductBy" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ProductBy" class="form-control" />
                                                            <span asp-validation-for="@Model.ProductBy"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Created" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Created" class="form-control" />
                                                            <span asp-validation-for="@Model.Created"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Songs CartoonSeries Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.LongDescription" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.LongDescription" class="form-control" />
                                                            <span asp-validation-for="@Model.LongDescription"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Songs CartoonSeries Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ShortDescription" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ShortDescription" class="form-control" />
                                                            <span asp-validation-for="@Model.ShortDescription"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ScriptW" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ScriptW" class="form-control" />
                                                            <span asp-validation-for="@Model.ScriptW"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software">
                                                        <td>
                                                            <label asp-for="@Model.Features" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Features" class="form-control" />
                                                            <span asp-validation-for="@Model.Features"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.SongsList" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.SongsList" class="form-control" />
                                                            <span asp-validation-for="@Model.SongsList"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ScriptE" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ScriptE" class="form-control" />
                                                            <span asp-validation-for="@Model.ScriptE"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.CreditsW" class="control-label"></label>

                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for="@Model.CreditsW" class="form-control" />
                                                            <span asp-validation-for="@Model.CreditsW"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.CreditsE" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for="@Model.CreditsE" class="form-control" />
                                                            <span asp-validation-for="@Model.CreditsE"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs CartoonSeries" style="display: none;">
                                                        <td>

                                                            <label asp-for="@Model.VideoW" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.VideoW" class="form-control" />
                                                            <span asp-validation-for="@Model.VideoW"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs CartoonSeries" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.VideoE" class="control-label"></label>
                                                        </td>
                                                        <td>

                                                            <input asp-for="@Model.VideoE" class="form-control" />
                                                            <span asp-validation-for="@Model.VideoE"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ViewsW" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ViewsW" class=" form-control" />
                                                            <span asp-validation-for="@Model.ViewsW" class=" text-danger"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.ViewsE" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.ViewsE" class="form-control" />
                                                            <span asp-validation-for="@Model.ViewsE" class="text-danger"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Epdf" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.EasternPdfFile" type="file" class="form-control" />
                                                            <span asp-validation-for="@Model.Epdf"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Songs" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Wpdf" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.WestreanPdfFile" type="file" class="form-control" />
                                                            <span asp-validation-for="@Model.Wpdf"></span>
                                                        </td>
                                                    </tr>
                                                    <tr style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Source" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Source" class="form-control" />
                                                            <span asp-validation-for="@Model.Source"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Link1" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Link1" class="form-control" />
                                                            <span asp-validation-for="@Model.Link1"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Link2" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Link2" class="form-control" />
                                                            <span asp-validation-for="@Model.Link2"></span>
                                                        </td>
                                                    </tr>
                                                    <tr data-categories="Books Software" style="display: none;">
                                                        <td>
                                                            <label asp-for="@Model.Link3" class="control-label"></label>
                                                        </td>
                                                        <td>
                                                            <input asp-for="@Model.Link3" class="form-control" />
                                                            <span asp-validation-for="@Model.Link3"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--END table-responsive -->

                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <a asp-action="Index" class="btn btn-Create btn-shadow w-50">Back to List</a>
                                    </div>

                                    <div class="col-md-6">
                                        <input type="submit" value="save" class="btn btn-Create btn-shadow w-50" />
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        }
    </section>
</div>
@section Scripts {
    @{
            <!-- show Rows when filter  -->
        <script>
            function showRows() {
                var selectedValue = document.getElementById("Category").value;

                var allRows = document.getElementsByTagName("tr");
                for (var i = 0; i < allRows.length; i++) {
                    allRows[i].style.display = "none";
                }

                var rowsToShow = document.querySelectorAll("[data-categories*='" + selectedValue + "']");
                for (var j = 0; j < rowsToShow.length; j++) {
                    rowsToShow[j].style.display = "table-row";
                }
            }

            document.addEventListener("DOMContentLoaded", showRows);
        </script>

        <script src="/plugins/fileuploads/js/Edit.dropify.js"></script>

        <!-- file uploads js -->
        <script src="~/plugins/fileuploads/js/dropify.js"></script>
        <script>
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a file here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (2M max).'
                }
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                var source = document.getElementById("ImageURL").src;
                var source2 = document.getElementById("ImageURL2").src;
                var source3 = document.getElementById("ImageURL3").src;
                $(".dropify-render:eq(0)").find("img").remove();
                $(".dropify-preview:eq(0)").attr("Style", "Display:Block");
                $(".dropify-render:eq(0)").append("<img src=" + source + " height=\"100%\" />");
                $(".dropify-render:eq(1)").find("img").remove();
                $(".dropify-preview:eq(1)").attr("Style", "Display:Block");
                $(".dropify-render:eq(1)").append("<img src=" + source2 + " height=\"100%\" />");
                $(".dropify-render:eq(2)").find("img").remove();
                $(".dropify-preview:eq(2)").attr("Style", "Display:Block");
                $(".dropify-render:eq(2)").append("<img src=" + source3 + " height=\"100%\" />");
            });
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }