@model IEnumerable<Product>
<link rel="stylesheet" href="~/css/List.css">
<link rel="stylesheet" href="~/css/dashboard.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@{
    ViewBag.Title = "Products List";
}


<div id="wrapper">
    <section class="bg-success promo">
       <div class="container">
                <h1 style="color:white"> &nbsp;List</h1>
            </div>
    </section>

   
     
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="btn-list">
                   <a asp-action="Create" type="button" class="btn btn-success"> cerate Product <i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
            <div class="card-body" style="color:white">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.Id)</th>
                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.Title)</th>
                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.Category)</th>
                                <th class="wd-20p " style="color:white">@Html.DisplayNameFor(model => model.TargetAudince)</th>  
                                @*<th>@Html.DisplayNameFor(model => model.SmallImage)</th>*@
                                <th class="wd-10p" style="color:white">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach(var i in Model)
                            {
                            <tr>
                            <td>@Html.DisplayFor(model => i.Id)</td>
                            <td >@Html.DisplayFor(model => i.Title)</td>
                            <td >@Html.DisplayFor(model => i.Category)</td>
                            <td>@Html.DisplayFor(model => i.TargetAudince)</td>
                          @*<td><a href="@Html.DisplayFor(model => i.SmallImage)"> <img src="@Html.DisplayFor(model => i.SmallImage)"/></a></td>*@
                             <td>
                              <a class="btn btn-icon btn-info   " asp-controller="Manger" asp-action="Edit" asp-route-id="@i.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a> 
                              <a class="btn btn-icon btn-orange btn-danger  " asp-controller="Manger" asp-action="Delete" asp-route-id="@i.Id"><i class="fa-solid fa-trash-can"></i>Delete</a>

                             </td>
                              
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                </div>
            </div>
            </div>
    </section>

    <partial name="_LoginPartial" />

</div>
    <table class="">
   

    </table>


