@model ProductVM


<!-- Data table css -->
<link href="~/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

@{
    ViewBag.Title = "Products List";
}
<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"> &nbsp;List</h1>
        </div>
    </section>
    @if (TempData["Messagee"] != null)
    {
        <div>

            alert('@Html.Raw(TempData["Messagee"])')
        </div>
    }
    @*    @if (TempData["Messagee"] != null)
    {
    <div>
    <h2 style="color:red">@TempData["Messagee"]</h2>
    </div>
    }*@
    <section>
        <div class="container">

            <div class="col-md-12 create">
                <div class="outline">
                    <div class="btn-list" style="float:left">
                        <div class="dropdown" style="position:relative;">
                            <button class="form-control custom-select dropdown-toggle" type="button" data-toggle="dropdown">
                                Create New Product
                            </button>
                            <ul class="dropdown-menu">
                                <li> <a asp-action="CreateSong" type="button"> Create New Song <i class="fa-solid fa-plus"></i></a></li>
                                <li><a asp-action="CreateBook" type="button"> Create New Book <i class="fa-solid fa-plus"></i></a></li>
                                <li> <a asp-action="CreateSoftware" type="button"> Create New Software <i class="fa-solid fa-plus"></i></a></li>
                                <li><a asp-controller="Cartoon" asp-action="CreateCartoonSeries" type="button">Create new Cartoon-Series <i class="fa-solid fa-plus"></i></a></li>
                                @* <li><a asp-controller="Cartoon" asp-action="CreateEpisode" type="button">Create new Cartoon Episode <i class="fa-solid fa-plus"></i></a></li>*@
                                <li><a asp-action="AddSale" type="button">Create Sale Product <i class="fa-solid fa-plus"></i></a></li>
                                <li class="divider"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-list">
                        @* <a asp-action="CreateSong" type="button" class="btn btn-success"> Create New Song <i class="fa-solid fa-plus"></i></a>
                        <a asp-action="CreateBook" type="button" class="btn btn-success"> Create New Book <i class="fa-solid fa-plus"></i></a>
                        <a asp-action="CreateSoftware" type="button" class="btn btn-success"> Create New Software <i class="fa-solid fa-plus"></i></a>
                        <a asp-action="CreateEpisode" type="button" class="btn btn-success">Create new Cartoon Episode <i class="fa-solid fa-plus"></i></a>
                        <a asp-action="AddSale" type="button" class="btn btn-success">Create Sale Product <i class="fa-solid fa-plus"></i></a>*@

                        <div class="btn-list sorting clearfix center-grid" id="btn1" style="float:right">
                            <div class="radio_wrap btn btn-success" style="margin-right:10px" data-radio="radio_1">

                                <span class="radio_mark">
                                    Product
                                </span>
                            </div>
                            <div class="radio_wrap btn btn-success" data-radio="radio_2">
                                <span class="radio_mark">
                                    Sales Item
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">

                    <div class="content">
                        <div class="radio_content radio_1">

                            <div class="card-body" style="color:white">
                                <div class="table-responsive">
                                    <div class="col-md-3" style="float:right">
                                        <div class="dropdown">
                                            <a href="#" class="form-control custom-select" data-toggle="dropdown" id="dropdown-menu"><i class="fa fa-pencil"></i> </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="@Url.Action("Index","Manger",new{Select = "Books"})">Books</a></li>
                                                <li><a href="@Url.Action("Index","Manger",new{Select = "Songs"})">Songs</a></li>
                                                <li><a href="@Url.Action("Index","Manger",new{Select = "CartoonSeries"})">Cartoon Series</a></li>
                                                <li><a href="@Url.Action("Index","Manger",new{Select = "Software"})">Software</a></li>
                                            </ul>
                                        </div>
                                    </div>


                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.product.Id)</th>
                                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.product.Title)</th>
                                                <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.product.Category)</th>
                                                <th class="wd-20p " style="color:white">@Html.DisplayNameFor(model => model.product.TargetAudince)</th>
                                                @*<th>@Html.DisplayNameFor(model => model.SmallImage)</th>*@
                                                <th class="wd-10p" style="color:white">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model.products)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(model => i.Id)</td>
                                                    <td>@Html.DisplayFor(model => i.Title)</td>
                                                    <td>@Html.DisplayFor(model => i.Category)</td>
                                                    <td>@Html.DisplayFor(model => i.TargetAudince)</td>
                                                    @*<td><a href="@Html.DisplayFor(model => i.SmallImage)"> <img src="@Html.DisplayFor(model => i.SmallImage)"/></a></td>*@

                                                    @if (Model.products[0].Category == Category.CartoonSeries)
                                                    {
                                                        <td>
                                                            <a class="btn btn-icon btn-info   " asp-controller="Cartoon" asp-action="EditCartoonSeries" asp-route-id="@i.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                                                            <a class="btn btn-icon btn-orange btn-danger  " asp-controller="Cartoon" asp-action="Delete" asp-route-id="@i.Id"><i class="fa-solid fa-trash-can"></i>Delete</a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <a class="btn btn-icon btn-info   " asp-controller="Manger" asp-action="Edit" asp-route-id="@i.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                                                            <a class="btn btn-icon btn-orange btn-danger  " asp-controller="Manger" asp-action="Delete" asp-route-id="@i.Id"><i class="fa-solid fa-trash-can"></i>Delete</a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="radio_content radio_2">
                        <div class="card-body" style="color:white">
                            <div class="table-responsive">
                                <table id="example2" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.Shop.Id)</th>
                                            <th class="wd-15p" style="color:white">@Html.DisplayNameFor(model => model.Shop.Name)</th>
                                            <th class="wd-20p " style="color:white">@Html.DisplayNameFor(model => model.Shop.Price)</th>
                                            @*<th>@Html.DisplayNameFor(model => model.SmallImage)</th>*@
                                            <th class="wd-10p" style="color:white">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var si in Model.Shops)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(model => si.Id)</td>
                                                <td>@Html.DisplayFor(model => si.Name)</td>
                                                <td>@Html.DisplayFor(model => si.Price)</td>
                                                @*<td><a href="@Html.DisplayFor(model => i.SmallImage)"> <img src="@Html.DisplayFor(model => i.SmallImage)"/></a></td>*@
                                                <td>
                                                    <a class="btn btn-icon btn-info" asp-controller="Manger" asp-action="EditSale" asp-route-id="@si.Id"><i class="fa-solid fa-pen-to-square"></i>Edit</a>
                                                    <a class="btn btn-icon btn-orange btn-danger  " asp-controller="Manger" asp-action="DeleteSales" asp-route-id="@si.Id"><i class="fa-solid fa-trash-can"></i>Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <partial name="_LoginPartial" />
</div>

@section scripts{
    <!-- Data tables -->
    <script src="~/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatable/dataTables.bootstrap4.min.js"></script>
    <!--Start Filter -->
    <script>
        $(document).ready(function () {
            /* by default hide all radio_content div elements except first element */
            $(".content .radio_content").hide();
            $(".content .radio_content:first-child").show();

            /* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
            $(".radio_wrap").click(function () {
                var current_raido = $(this).attr("data-radio");
                $(".content .radio_content").hide();
                $("." + current_raido).show();
            })
        });
    </script>
    <!--End Filter -->
    <!-- Data table js -->
    <script>
        $(function (e) {
            $('#example').DataTable();
        });
    </script>

    <script>
        $(function (e) {
            $('#example2').DataTable();
        });

    </script>

   }
