@model ProductVM
<head>
    @{
        ViewBag.Title = "Software";
    }


</head>
<div id="wrapper">
    <section class="bg-warning promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-mobile-phone"></i> &nbsp;Software</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @foreach(var s in Model.products)
                    {                      
                    <div class="post post-md no-border col-md-6 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                        <a asp-controller="Products" asp-action="details" asp-route-id="@s.Id"><img src="@s.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:orange">@s.SubCategory</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                            <h4><a asp-controller="Products" asp-action="details" asp-route-id="@s.Id">@s.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-mobile-phone"></i> Web</li>
                                         </ul>
                                    </div>
                                </div>
                                <p>@s.ShortDescription</p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@s.Id" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="@s.Link1" class="btn btn-warning btn-shadow"> <i class="fa fa-globe"></i> Visit Website</a>
                                <a style="background-color: #0d5487" href="@s.Link2" class="btn btn-warning btn-shadow"> <i class="fa fa-globe"></i> Visit Website</a>
                             </div>
                        </div>
                    </div>
                    }
                   @* <div class="post post-md no-border col-md-6 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/betkanureaderapp"><img src="/img/products/banners/BETKANUReader_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:orange">App</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/betkanureaderapp">BET KANU Reader App</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-mobile"></i> App</li>
                                            <li><i class="fa fa-info"></i> Scan App </li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    BET KANU presents BET KANU READER App, a great Syriac reading App for everyone.

                                </p>
                                <a style="background-color:#32a6de" href="~/products/betkanureaderapp" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://apps.apple.com/be/app/bet-kanu-reader/id1452612542" class="btn btn-warning btn-shadow"> <i class="fa fa-apple"></i> App Store!</a>
                                <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.BETKANU.BK_READER&hl=en&gl=US" class="btn btn-warning btn-shadow"><i class="fa fa-android"></i> Google Play!</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="post post-md no-border col-md-6 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/Kanuguessapp"><img src="/img/products/banners/kanuguessapp_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:orange">App</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/Kanuguessapp">KANU GUESS App</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-mobile-phone"></i> App</li>
                                            <li><i class="fa fa-info"></i> Game App </li>
                                        </ul>
                                    </div>
                                </div>
                                <p>Test your Syriac skills with this interactive game! Complete all the levels to unlock the last one.  KANU GUESS is our first video game challenging you to learn new words. </p>
                                <a style="background-color:#32a6de" href="~/products/Kanuguessapp" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://itunes.apple.com/us/app/kanu-guess/id1299765596" class="btn btn-warning btn-shadow"> <i class="fa fa-apple"></i> App Store!</a>
                                <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.Kanusoft.BetKanu.KanuGuess" class="btn btn-primary btn-shadow"> <i class="fa fa-android"></i> Google Play!</a>
                            </div>
                        </div>
                    </div>
                    <div class="post post-md no-border col-md-6 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-thumbnail">
                                    <a href="~/products/Radiokifoapp"><img src="/img/products/banners/RadioKifo_1920_700.jpg" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:orange">App</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a href="~/products/Radiokifoapp">Radio Kifo App</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-mobile"></i> App</li>
                                            <li><i class="fa fa-info"></i> Radio App </li>
                                        </ul>
                                    </div>
                                </div>
                                <p>A new project by the Suryoyo Patriarchal Youth Department (SPYD), which focuses on the young Syriac Christian Youth.</p>
                                <a style="background-color:#32a6de" href="~/products/Radiokifoapp" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://itunes.apple.com/us/app/radio-kifo/id1230356699?mt=8" class="btn btn-warning btn-shadow"> <i class="fa fa-apple"></i>App Store!</a>
                                <a style="background-color: #0d5487" href="https://play.google.com/store/apps/details?id=com.suryo.radiokifo&hl=en" class="btn btn-primary btn-shadow"> <i class="fa fa-android"></i> Google Play!</a>
                            </div>
                        </div>
                    </div>*@
                    </div>



            </div>
        </div>
    </section>


</div>

