@model Product
@{
    ViewBag.Title = Model.Title;
}

@if (Model.Category.ToString() == "Songs")
{
    <section class="hero height-350 hero-game" style="background-image: url(@Model.CoverImage);">
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>@Model.Title Song</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-music"></i> @Model.Category.ToString()</li>
                                    <li><i class="fa fa-calendar-o"></i>@Model.ReleaseDate</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">@Model.SubCategory</span></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            @Model.ShortDescription
                        </p>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="western">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                            <p class="Surayt font-size-22 font-size-22">
                                @Html.Raw(@Model.ScriptW)
                            </p>
                             <a class="btn btn-info" href="@Model.Wpdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
                        </div>
                        <div class="col-lg-1"></div>
                        <div class="well col-md-5" style="text-align:center ; direction:rtl" id="eastern">
                            <h3 style="text-align:center ; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                            <p class="Surit font-size-22">
                                @Html.Raw(@Model.ScriptE)
                            </p>
                            
                             <a class="btn btn-info" href="@Model.Epdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 rightside">
                    <div class="widget widget-card">
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.VideoW?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    @Model.Title - Western Syriac (Surayt)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> @Model.ReleaseDate</li>
                                    <li><i class="fa fa-eye"></i> @Model.ViewsW views</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@Model.VideoE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                <div class="time">BET KANU</div>
                            </div>
                            <div class="caption">
                                <h3 class="card-title">
                                    @Model.Title - Eastern Syriac (Surit)
                                </h3>
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i>@Model.ReleaseDate</li>
                                    <li><i class="fa fa-eye"></i> @Model.ViewsE views</li>
                                </ul>
                            </div>
                        </div>
                        <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block">BET KANU YouTube Channel</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="page-header">
                            <div class="page-title" style="color:black">Credits</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Western
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    @Html.Raw(@Model.CreditsW)
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="well">
                                <p>
                                    <strong>
                                        Eastern
                                    </strong>
                                </p>
                                <ul style="text-align:left ; direction:ltr">
                                    @Html.Raw(@Model.CreditsE)
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-5">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <ul class="share">
    <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@* Start Software *@
@if (Model.Category.ToString() == "Software")
{
    <section class="hero height-350 hero-game" style="background-image: url(@Model.CoverImage);">
    </section>

    <section>
        <div class="container">
            <div class="row sidebar">
                <div class="col-md-8 leftside">
                    <div class="post post-single">
                        <div class="post-header">
                            <div class="post-title">
                                <h2>@Model.Title App</h2>
                                <ul class="post-meta">
                                    <li><i class="fa fa-mobile-phone"></i> @Model.Category.ToString()</li>
                                    <li><i class="fa fa-calendar-o"></i>@Model.ReleaseDate</li>
                                    <li><i class="fa fa-info"></i><span class="hidden-xs">@Model.SubCategory</span></li>
                                </ul>
                            </div>
                        </div>
                        @Html.Raw(@Model.ShortDescription)
                    <div class="well" style="text-align:left ; direction:ltr">
                        @Html.Raw(@Model.LongDescription)
                    </div>
                    <div class="well" style="text-align:left ; direction:ltr">
                        @Html.Raw(@Model.ScriptE)
                    </div>
                        @* Features *@
                        @Html.Raw(@Model.ScriptW)
                        @* Features *@
                    </div>
                </div>
                <div class="col-md-4 rightside">
                    <div class="col-md-12">
                        <a href="@Model.Link1" class="btn btn-warning btn-block">Get it on the App Store!</a>
                        <a href="@Model.Link2" class="btn btn-warning btn-block">Get it on the Google Play!</a>
                        <br>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="@Model.CreditsE" alt="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="@Model.CreditsW" alt="">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well">
                                    <img src="@Model.VideoE" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="row margin-5">
                    <div class="col-md-8">   </div>
                    <div class="col-md-4">
                        <ul class="share">
    <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

}
@* Enf Software *@

@* Start Cartoon Series *@
@if (Model.Category.ToString() == "CartoonSeries")
{

}
@* End Cartoon Series *@
@* Start Books *@
@if (Model.Category.ToString() == "Books")
{

}
@* End Books *@
}
<!-- /#wrapper -->

@section scripts{
}