@model ProductVM
<head>
    @{
        ViewBag.Title = "Products";
    }
</head>
<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-check-circle-o"></i> &nbsp; Products</h1>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                @foreach (var p in Model.products)
                {
                    @if (p.Category.ToString() == "Songs")
                    {
                        <div class="post post-md no-border col-md-6">
                            <div class="col-12">
                                <div class="post-thumbnail">
                                    <a asp-controller="Products" asp-action="details" asp-route-id="@p.Id"><img src="@p.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">Song</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@p.Id">@p.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>@p.TargetAudince / @p.Category</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @p.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@p.Id" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://www.youtube.com/embed/@p.VideoW?rel=0&amp" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://www.youtube.com/embed/@p.VideoE?rel=0&amp" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    }
                    @if (p.Category.ToString() == "Software")
                    {
                        <div class="post post-md no-border col-md-6">
                            <div class="col-12">
                                <div class="post-thumbnail">
                                    <a asp-controller="Products" asp-action="details" asp-route-id="@p.Id"><img src="@p.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:orange">App</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@p.Id">@p.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>@p.TargetAudince / @p.Category</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @p.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@p.Id" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="@p.Link1" class="btn btn-warning btn-shadow"><i class="fa fa-apple"></i> App Store!</a>
                                <a style="background-color: #0d5487" href="@p.Link2" class="btn btn-warning btn-shadow"><i class="fa fa-android"></i> Google Play!</a>
                            </div>
                        </div>

                    }
                    @if (p.Category.ToString() == "Books")
                    {
                        <div class="post post-md no-border col-md-6">
                            <div class="col-12">

                                <div class="post-thumbnail">
                                    <a asp-controller="Products" asp-action="details" asp-route-id="@p.Id"><img src="@p.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:darkgray">Book</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@p.Id">@p.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>@p.TargetAudince / @p.Category</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @p.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@p.Id" class="btn btn-info btn-shadow">Info</a>
                            </div>
                        </div>

                    }
                    @if (p.Category.ToString() == "CartoonSeries")
                    {
                        <div class="post post-md no-border col-md-6">
                            <div class="col-12">
                                <div class="post-thumbnail">
                                    <a asp-controller="Products" asp-action="details" asp-route-id="@p.Id"><img src="@p.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:red">Cartoon Series</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@p.Id">@p.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>@p.TargetAudince / @p.Category</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @p.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@p.Id" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://www.youtube.com/embed/@p.VideoW?rel=0&amp" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://www.youtube.com/embed/@p.VideoE?rel=0&amp" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>

                    }
                }


            </div>
        </div>
    </section>
</div>