@model ProductVM
<head>
    @{
        ViewBag.Title = "Cartoon Series";
    }
</head>
<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-file-video-o"></i> &nbsp; BET KANU Cartoon Series</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                @foreach (var e in Model.products)
                {
                    <div class="col-md-6 col-lg-6">
                        <div class="post post-md no-border">
                            <div class="col-12">
                                <div class="col-md-12">
                                    <div class="post-thumbnail">
                                        <a asp-controller="Products" asp-action="details" asp-route-id="@e.Id"><img src="@e.SmallImage" paading="lazy" alt=""></a>
                                        <div class="post-caption" style="background-color:red">@e.Category</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@e.Id">@e.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-video-camera"></i> @e.TargetAudince</li>
                                            <li><i class="fa fa-info"></i>@e.SubCategory</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @e.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@e.Id" class="btn btn-info btn-shadow">Read More</a>
                                <a style="background-color: #f6a500" href="@e.Link1" class="btn btn-success btn-shadow">Watch in Western Syriac</a>
                                <a style="background-color: #0d5487" href="@e.Link2" class="btn btn-success btn-shadow">Watch in Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</div>