@model ProductVM

<head>
    @{
        ViewBag.Title = "Collections";
    }
</head>

<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-file-sound-o"></i> &nbsp;Collections</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                @if (Model.products?.Count > 0)
                {
                    @foreach (var s in Model.products)
                    {
                        <div class="post post-md no-border col-md-6">
                            <div class="col-12">
                                <div class="post-thumbnail">
                                    <a asp-controller="Products" asp-action="details" asp-route-id="@s.Id"><img src="@s.SmallImage" loading="lazy" alt=""></a>
                                    <div class="post-caption" style="background-color:green">@s.Category</div>
                                </div>

                                <div class="col-12">
                                    <div class="post-header">
                                        <div class="post-title">
                                            <h4><a asp-controller="Products" asp-action="details" asp-route-id="@s.Id">@s.Title</a></h4>
                                            <ul class="post-meta">
                                                <li><i class="fa fa-info"></i>@s.TargetAudince</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        @s.ShortDescription
                                    </p>
                                    <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@s.Id" class="btn btn-info btn-shadow">Info</a>
                                    <a style="background-color: #f6a500" href="@s.Link1" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                    <a style="background-color: #0d5487" href="@s.Link2" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </section>
</div>