@model ProductVM

<head>
    @{
        ViewBag.Title = "Collections";
    }
</head>

<div id="wrapper">
    <section class="bg-success promo">
        <div class="container">
            <h1 style="color:white"><i class="fa fa-file-sound-o"></i> &nbsp;Collections</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                @if (Model.products?.Count > 0)
                {
                    @foreach (var s in Model.products)
                    {
          

                        <section class="p-0">
                            <div class="hero hero-game d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                                <img src="@s.SmallImage" />
                            </div>
                        </section>
                        <section>
                            <div class="container">
                                <div class="col-lg-12">

                                    <div class="col-lg-12">
                                        <div class="post post-single">
                                            <div class="post-header">
                                                <div class="post-title">
                                                    <h2>@s.Title</h2>
                                                    <ul class="post-meta">
                                                        <li><i class="fa fa-music"></i> @s.Category.ToString()</li>
                                                        <li><i class="fa fa-calendar-o"></i>@s.ReleaseDate.ToString("MMM d, yyyy")</li>
                                                        <li><i class="fa fa-info"></i><span class="hidden-xs">@s.SubCategory</span></li>
                                                        @if (s.TargetAudince != null)
                                                        {
                                                            <li><i class="fa fa-info"></i><span class="hidden-xs">@s.TargetAudince</span></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <p>
                                                @Html.Raw(@s.LongDescription)

                                            </p>

                                            <div class="row">

                                                @if (s.VideoW != null)
                                                {
                                                    <div class="@(s.VideoM  != null ? "col-lg-6 col-md-6 col-sm-12" : "col-lg-6 col-md-6 col-sm-12")">
                                                        <div class="card">
                                                            <div class="card-img">
                                                                <div class="embed-responsive embed-responsive-16by9">
                                                                    @{
                                                                        string youtubeUrl = s.VideoW ?? string.Empty;
                                                                        string embedWestUrl = string.Empty;

                                                                        if (!string.IsNullOrEmpty(youtubeUrl))
                                                                        {
                                                                            if (youtubeUrl.Contains("youtu.be/"))
                                                                            {
                                                                                // Short URL
                                                                                string videoId = youtubeUrl.Substring(youtubeUrl.LastIndexOf("/") + 1);
                                                                                embedWestUrl = $"https://www.youtube.com/embed/{videoId}";
                                                                            }
                                                                            else if (youtubeUrl.Contains("youtube.com/embed/"))
                                                                            {
                                                                                // Long URL
                                                                                embedWestUrl = youtubeUrl;
                                                                            }
                                                                            else if (youtubeUrl.Contains("youtube.com/watch?v="))
                                                                            {
                                                                                // Long URL with query parameters
                                                                                int embedIndex = youtubeUrl.IndexOf("youtube.com/watch?v=");
                                                                                string videoId = youtubeUrl.Substring(embedIndex + 20);
                                                                                int queryIndex = videoId.IndexOf("?");
                                                                                if (queryIndex != -1)
                                                                                {
                                                                                    videoId = videoId.Substring(0, queryIndex);
                                                                                }
                                                                                embedWestUrl = $"https://www.youtube.com/embed/{videoId}";
                                                                            }
                                                                        }
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(embedWestUrl))
                                                                    {
                                                                        <iframe class="embed-responsive-item" src="@embedWestUrl" allowfullscreen></iframe>
                                                                    }
                                                                    @* <iframe class="embed-responsive-item" src="@Model?.product.VideoW" allowfullscreen></iframe>*@
                                                                </div>
                                                                <div class="time">BET KANU</div>
                                                            </div>
                                                            <div class="caption">
                                                                <h3 class="card-title">
                                                                    @s.Title - Western Syriac (Surayt)
                                                                </h3>
                                                                <ul>
                                                                    <li><i class="fa fa-calendar-o"></i> @s.ReleaseDate.ToString("MMM d, yyyy")</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                           
                                                @if (s.VideoE != null)
                                                {
                                                    <div class="@(s.VideoM  != null ? "col-lg-6 col-md-6 col-sm-12" : "col-lg-6 col-md-6 col-sm-12")">
                                                        <div class="card">
                                                            <div class="card-img">
                                                                <div class="embed-responsive embed-responsive-16by9">
                                                                    @{
                                                                        string EastyoutubeUrl = s?.VideoE ?? string.Empty;
                                                                        string EastembedUrl = string.Empty;

                                                                        if (!string.IsNullOrEmpty(EastyoutubeUrl))
                                                                        {
                                                                            if (EastyoutubeUrl.Contains("youtu.be/"))
                                                                            {
                                                                                // Short URL
                                                                                string videoId = EastyoutubeUrl.Substring(EastyoutubeUrl.LastIndexOf("/") + 1);
                                                                                EastembedUrl = $"https://www.youtube.com/embed/{videoId}";
                                                                            }
                                                                            else if (EastyoutubeUrl.Contains("youtube.com/embed/"))
                                                                            {
                                                                                // Long URL
                                                                                EastembedUrl = EastyoutubeUrl;
                                                                            }
                                                                            else if (EastyoutubeUrl.Contains("youtube.com/watch?v="))
                                                                            {
                                                                                // Long URL with query parameters
                                                                                int embedIndex = EastyoutubeUrl.IndexOf("youtube.com/watch?v=");
                                                                                string videoId = EastyoutubeUrl.Substring(embedIndex + 20);
                                                                                int queryIndex = videoId.IndexOf("?");
                                                                                if (queryIndex != -1)
                                                                                {
                                                                                    videoId = videoId.Substring(0, queryIndex);
                                                                                }
                                                                                EastembedUrl = $"https://www.youtube.com/embed/{videoId}";
                                                                            }
                                                                        }
                                                                    }
                                                                    @if (!string.IsNullOrEmpty(EastembedUrl))
                                                                    {
                                                                        <iframe class="embed-responsive-item" src="@EastembedUrl" allowfullscreen></iframe>
                                                                    }
                                                                    @*  <iframe class="embed-responsive-item" src="@Model?.product.VideoE" allowfullscreen></iframe>*@
                                                                </div>
                                                                <div class="time">BET KANU</div>
                                                            </div>
                                                            <div class="caption">
                                                                <h3 class="card-title">

                                                                    @s.Title - Eastern Syriac (Surit)
                                                                </h3>
                                                                <ul>
                                                                    <li><i class="fa fa-calendar-o"></i>@s.ReleaseDate.ToString("MMM d, yyyy")</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="d-flex justify-content-center mb-3">
                                                    <a href="https://www.youtube.com/c/betkanu" class="btn btn-danger btn-block w-auto">BET KANU YouTube Channel</a>
                                                </div>
                                                @if (s.ScriptW != null)
                                                {
                                                    <div class="@(s.ScriptW != null ? "col-md-6 col-sm-12 col-lg-6" : "col-md-6 col-sm-12 col-lg-6")" style="text-align:center; direction:rtl" id="western">
                                                        <div class="well">

                                                            <h3 style="text-align:center; direction:ltr" class="padding-bottom-10">Western Lyrics</h3>
                                                            <p class="Surayt font-size-22">
                                                                @Html.Raw(s.ScriptW)
                                                            </p>
                                                            <a class="btn btn-info" href="@s.Wpdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
                                                        </div>
                                                    </div>
                                                }

                                                @if (s.ScriptE != null)
                                                {
                                                    <div class="@(s.ScriptW != null ? "col-md-6 col-sm-12 col-lg-6" : "col-md-6 col-sm-12 col-lg-6")" style="text-align:center; direction:rtl" id="eastern">
                                                        <div class="well">
                                                            <h3 style="text-align:center; direction:ltr" class="padding-bottom-10">Eastern Lyrics</h3>
                                                            <p class="Surit font-size-22">
                                                                @Html.Raw(s.ScriptE)
                                                            </p>
                                                            <a class="btn btn-info" href="@s.Epdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Export as PDF</a>
                                                        </div>
                                                    </div>
                                                }

                                             


                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </section>

                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4 float-end">
                                            <ul class="share">
                                                <li><a href="https://www.facebook.com/sharer.php?u=https://betkanu.com/products/@ViewBag.Title" class="btn btn-sm btn-social-icon btn-facebook" data-toggle="tooltip" title="Share on facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/share?url=https://www.betkanu.com/products/@ViewBag.Title&amp;hashtags=BETKANU" class="btn btn-sm btn-social-icon btn-twitter" data-toggle="tooltip" title="Share on twitter"><i class="fa fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    }
                }
            </div>
        </div>
    </section>
</div>