@model StudioViewModel

<head>
    @{
        ViewBag.Title = "Nino and Mia";
    }
</head>
<div id="wrapper">

    <!-- wrapper -->
    <div class="container">
        <div class="row mt-5">

            @*<div class="background-image" style="background-image: url(https://www.betkanu.com/content/img/cover/YouTubeCoverBETKANU.png);">


            </div>

            <section class="padding-top-20 padding-bottom-20 border-bottom-1 border-grey-300">
            <div class="container">
            <div class="headline no-margin">
            <h4><i class="fa fa-film"></i> Cartoon Series</h4>
            <div class="dropdown" style="display:inline">
            <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="west" disabled onclick="hideshowlist(this.id)"><img src="/img/west.png" /></button>
            &nbsp;
            <button type="button" class="btn btn-outline btn-circle btn-icon-left" id="east" onclick="showhidelist(this.id)"><img src="/img/east.png" /></button>
            </div>
            </div>
            </div>
            </section>*@
            @* Start Western Section *@
            @if (Model.Products != null)
            {
                @foreach (var p in Model.Products)
                {
                    <div class="col-md-6 col-lg-6">
                        <div class="post post-md no-border">
                            <div class="col-12">
                                <div class="col-md-12">
                                    <div class="post-thumbnail">
                                        <a asp-controller="Products" asp-action="details" asp-route-id="@p.Id"><img src="@p.SmallImage" loading="lazy" alt=""></a>
                                        <div class="post-caption" style="background-color:red">Cartoon Series</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="post-header">
                                    <div class="post-title">
                                        <h4><a asp-controller="Products" asp-action="details" asp-route-id="@p.Id">@p.Title</a></h4>
                                        <ul class="post-meta">
                                            <li><i class="fa fa-info"></i>@p.TargetAudince / @p.Category</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    @p.ShortDescription
                                </p>
                                <a style="background-color:#32a6de" asp-controller="Products" asp-action="details" asp-route-id="@p.Id" class="btn btn-info btn-shadow">Info</a>
                                <a style="background-color: #f6a500" href="https://www.youtube.com/embed/@p.VideoW?rel=0&amp" class="btn btn-warning btn-shadow"><i class="fa fa-youtube-play"></i> Western Syriac</a>
                                <a style="background-color: #0d5487" href="https://www.youtube.com/embed/@p.VideoE?rel=0&amp" class="btn btn-primary btn-shadow"><i class="fa fa-youtube-play"></i> Eastern Syriac</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        function hideshowlist() {
            var w = document.getElementById("western");
            var e = document.getElementById("eastern");

            if (w.style.display === "none") {
                w.style.display = "block";
                e.style.display = "none";
                document.getElementById("west").disabled = true;
                document.getElementById("east").disabled = false;
            } else {
                w.style.display = 'none';
                e.style.display = 'block';
                document.getElementById("west").disabled = false;
                document.getElementById("east").disabled = true;

            }

        }
    </script>

    <script>
        function showhidelist() {
            var e = document.getElementById("eastern");
            var w = document.getElementById("western");

            if (e.style.display === "none") {
                e.style.display = "block";
                w.style.display = "none";
                document.getElementById("east").disabled = true;
                document.getElementById("west").disabled = false;
            } else {
                e.style.display = 'none';
                w.style.display = 'block';
                document.getElementById("east").disabled = false;
                document.getElementById("west").disabled = true;
            }
        }
    </script>



    }
